.actions__btn-users {
  width: 200px;
}
// .ant-table-thead {
//   tr {
//     th:last-child {
//       width: 100px;
//     }
//   }
// }
// .ant-table-tbody {
//   tr {
//     td:last-child {
//       width: 100px;
//     }
//   }
// }

.ant-table-thead {
  tr {
    th:last-child {
      width: 200px;
    }
  }
}

@media (max-width: 500px) {
  .ant-table-thead {
    tr {
      th:last-child {
        width: 100px;
      }
    }
  }
  .ant-table-tbody {
    tr {
      td:last-child {
        width: 100px;
        padding: 0;
      }
    }
  }
}
