.home__container {
  padding: 10px;
}

.home__header {
  display: flex;
  justify-content: start;
  padding-bottom: 15px;
  .home__user {
    margin-right: 10px;
  }
  .home__statisctic {
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
}
