.home__container {
  .ant-table-thead {
    tr {
      th:last-child {
        width: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .home__container {
    .ant-table-thead {
      tr {
        th:last-child {
          width: 50%;
        }
      }
    }
  }
  .ant-table-tbody {
    tr {
      td:last-child {
        width: 50%;
        padding: 0;
      }
    }
  }
  .actions__btn-personal {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      margin-bottom: 2px;
    }
  }
}
