.ant-alert-with-description {
  padding: 45px 15px 15px 0px;
}
.ant-alert-with-description .ant-alert-icon {
  padding-right: 15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
