.action__btn {
  margin-right: 5px;
}

.userPage__btns {
  display: flex;
}

.userPage__add {
  margin-bottom: 25px;
  background-color: red;
}

.ant-table-thead {
  tr {
    th:last-child {
      width: 200px;
    }
  }
}

.home__user {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  &-dark {
    background-color: #001529;
    .ant-card-meta-title {
      color: white;
    }
    .ant-card-meta-description {
      color: white;
    }
    .ant-card-actions {
      background-color: $primary;
      svg {
        color: white;
      }
    }
  }
}
