.wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #fafafa;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.content__wrapper {
  padding: 20px;
  height: max-content;
}

@media (max-width: 600px) {
  .ant-layout-sider-trigger {
    display: none;
  }
}
